.ReactTable {
    position: center;
    border: 1px solid  rgb(78, 66, 78);
  }

  .ReactTable td{
    position: center;
    border: 1px solid  rgb(78, 66, 78);
  }

  .ReactTable th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    border: 5px solid rgb(78, 66, 78);
  }

